<button class="play-pause" {{action 'togglePause'}}>
  {{#if isPaused}}
    <i class="icon-play"></i>
  {{else}}
    <i class="icon-pause"></i>
  {{/if}}
</button>

{{input type="range" min=0 max=100 value=volume}}
