.photo-slider-container {
	@include row();
	padding: 0;

	position: relative;
	margin: 40px auto;
	width: 1000px;
	height: 300px;

	overflow: hidden;

	max-width: 100%;

	button {
		background: none;
		border: none;
		cursor: pointer;

		color: rgba(200, 200, 200, 0.8);
		font-size: ms(5);
		line-height: 300px;

		position: absolute;
		top: 0;
		z-index: 2;

		&:focus {
			outline: none;
		}

		&:hover {
			color: rgba(200, 200, 200, 1);
		}

		&.prev {
			left: 0;
		}

		&.next {
			right: 0;
		}
	}

	.slider-photo {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;
	}


}
