<nav>
	<ul>
		<li>{{#link-to 'index'}}Home{{/link-to}}</li>
		<li>{{#link-to 'music'}}Music{{/link-to}}</li>
		<li><a href="#">Shop</a></li>
		<li><a href="#">Calendar</a></li>
		<li>{{#link-to 'news'}}News{{/link-to}}</li>
		<li><a href="#">Newsletter</a></li>
	</ul>
</nav>
