.home-page {
	.top, .bottom {
		@include clearfix;
	}

	.bottom {
		@include row;

		.instagram-wall {
			margin-left: 0;
		}

		.instagram-wall, .twitter-widget, .news-widget {
			@include column(4);

			h2 {
				font-family: 'Coda';
				text-align: center;
			}
		}
	}
}
