<div class="container">
    <div class="row tabs pill">
        <ul class="tab-nav">
            <li><a href="#">Home</a></li>
            <li class="pure-menu-selected"><a href="#">Songs</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Mailing List</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="columns six">
            <form>
                <fieldset>
                    <div class="field">
                        <label>Email</label>
                        <input type="text" placeholder="Email" class="input">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="text" placeholder="Password" class="input">
                    </div>
                    <div class="btn medium primary">
                        <button type="submit">Sign in</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="columns six">
            <table>
                <thead>
                    <tr>
                        <th>Song</th>
                        <th>Play Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Random Pig Squeals</td>
                        <td>4:35</td>
                        <td><a href="#">Buy On iTunes</a></td>
                    </tr>
                    <tr>
                        <td>Heavy Banging of Pots</td>
                        <td>2:48</td>
                        <td><a href="#">Buy On iTunes</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
