<div class="home-page">
	<div class="top"></div>
	<div class="bottom">
		{{render 'home/instagram' instagramData}}
		{{render 'home/news-articles' recentNewsArticles}}
		{{twitter-widget widgetId="492854018087985152" username="embergrep"}}
	</div>
</div>
